parameters:
    level: 5
    paths:
        - /source/src
    checkMissingIterableValueType: false
    autoload_files:
        - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
    autoload_directories:
        - /source/src
    excludes_analyse:
        - %currentWorkingDirectory%/src/aieuo/mineflow/flowItem/action/ReplenishResource.php
        - %currentWorkingDirectory%/src/aieuo/mineflow/flowItem/action/ExecuteIFChain.php